// $sandbox-color: #F3ECB0;
// $prompts-color:  #6ECCAF;
// $tasks-color: #F8C4B4;
// $evals-color: #73A9AD;
// $about-color: #ADE792;

$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$purple: #B10DC9;
$fuchsia: #F012BE;
$maroon: #85144b;
$red: #FF4136;
$orange: #FF851B;
$yellow: #FFDC00;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #FFFFFF;

$dark-base: #c9d6ff;
$light-base: #e2e2e2;

$blend-color: $light-base;

// $sandbox-color: $yellow;
// $prompts-color: $olive;
// $tasks-color: $orange;
// $evals-color: $blue;
// $about-color: $purple;

// $sandbox-color: #0081a7;
// $prompts-color: #00afb9;
// $tasks-color: #fdfcdc;
// $evals-color: #fed9b7;
// $about-color: #f07167;

$sandbox-color: #ffca3a;
$prompts-color: #ff595e;
$tasks-color: #8ac926;
$evals-color: #1982c4;
$about-color: #6a4c93;

// NOT GREAT, TOO STRONG
// $sandbox-color: #ffbc42;
// $prompts-color: #d81159;
// $tasks-color: #8f2d56;
// $evals-color: #218380;
// $about-color: #73d2de;

// $sandbox-color: #f2d0a9;
// $prompts-color: #d88c9a;
// $tasks-color: #f1e3d3;
// $evals-color: #99c1b9;
// $about-color: #8e7dbe;

// $sandbox-color: #ede7b1;
// $prompts-color: #d3f8e2;
// $tasks-color: #e4c1f9;
// $evals-color: #a9def9;
// $about-color: #f694c1;

// $sandbox-color: #f6bd60;
// $prompts-color: #f7ede2;
// $tasks-color: #f5cac3;
// $evals-color: #84a59d;
// $about-color: #f28482;



$ugly-dark-color: lightgray;