@use "../../styles/partials/colors" as *;

.about {
    background-color: $about-color;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 2rem 5rem; 
    width: 60%;

    &__title {
        font-weight: bold;
        font-size: 2rem;
        margin-top: 1rem;
        text-align: center;
    }

    &__text-block {
        font-size: 1.4rem;
        margin: 1rem;
    }
}