@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
    @include flexbox(row, space-between, center);
    // background-color: #90D1DD;
    border: 0.1px solid $black;
    border-radius: 1rem;
    color: $black;

    &__title-link {
        color: $black;
        margin: 2rem 0 2rem 3%;

    }

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;

        &:hover {
            color: transparent;
        }

        &:hover .header__title--left {
            text-shadow: -2px -8px #000;
        }

        &:hover .header__title--right {
            text-shadow: 2px 8px #000;
        }
    }

    &__login-status-box {
        @include flexbox(row, space-between, center);
        margin-right: 3%;
    }

    &__login-status {
        margin-right: 1rem;
    }

    &__logout-btn {
        background-color: transparent;
        border: 0.1px solid red;
        border-radius: 1rem;
        color: $black;
        margin: 0;
        padding: 0.5rem;

        &:hover {
            border: 2px solid red;
            cursor: pointer;
        }
    }
}

.navbar {
    &__list {
        @include flexbox(row, space-between, center);
        list-style-type: none;
        padding: 0;
    }

    &__item {
        border-radius: 1rem;
        color: $black;
        font-weight: normal;
        margin: 1rem;
        padding: 1rem;

        &--sandbox {
            background-color: $sandbox-color;
            // background-image: linear-gradient(to right, #ffe259, #ffa751);
            // background-image: linear-gradient(to right, $blend-color, $sandbox-color);
        }

        &--prompts {
            background-color: $prompts-color;
            // background-image: linear-gradient(to right, #a770ef, #cf8bf3);
            // background-image: linear-gradient(to right, $blend-color, $prompts-color);
        }

        &--tasks {
            background-color: $tasks-color;
            // background-image: linear-gradient(to right, $blend-color, $tasks-color);
        }

        &--evals {
            background-color: $evals-color;
            // background-image: linear-gradient(to right, $blend-color, $evals-color);
        }

        &--about {
            background-color: $about-color;
            // background-image: linear-gradient(to right, $blend-color, $about-color);
        }
    }

}