@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.site-map {
    @include flexbox(row, space-between, center);
    border: 0.1px solid $black;
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 1rem 2rem;
    width: 80vw;

    &__site-box {
        border-radius: 1rem;
        height: 10rem;
        line-height: 10rem;
        margin: 1rem;
        text-align: center;
        width: 20%;

        &--sandbox {
            background-color: $sandbox-color;
            background-image: linear-gradient(to right, $light-base, $sandbox-color);
        }

        &--prompts {
            background-color: $prompts-color;
            background-image: linear-gradient(to right, $light-base, $prompts-color);
        }

        &--tasks {
            background-color: $tasks-color;
            background-image: linear-gradient(to right, $light-base, $tasks-color);
        }

        &--evals {
            background-color: $evals-color;
            background-image: linear-gradient(to right, $light-base, $evals-color);
        }

        &--about {
            background-color: $about-color;
            background-image: linear-gradient(to right, $light-base, $about-color);
        }
    }
}